* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ========= Common ========= */
.container {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.btn {
  --height: 60px;

  display: inline-block;
  padding: 0 20px;
  min-width: 205px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  background-color: #2e80ce;
  border-radius: 30px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

/* ======== Header ========= */
.header {
  padding: 30px 0;
  min-height: 100vh;
  background-color: var(--header-bg);
}

/* == Header Top == */

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.logo {
  position: relative;
  display: inline-flex;
  font-size: 1rem;
}

.logo__cicrle::before,
.logo__cicrle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__cicrle::before {
  width: 3em;
  height: 3em;
  border-radius: 30px;
  background: #2e80ce;
}

.logo__cicrle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Navbar */
.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__login {
  padding: 4px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  position: relative;
  top: -2px;
  left: -8px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

/* Action */
.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;

  min-width: 104px;
}

/* == Hero == */
.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__heading {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
  color: #fff;
}

.hero__desc {
  margin-top: 22px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  color: #c9d2da;
}

.hero-action {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__phone {
  margin-left: 38px;
  font-size: 18px;
  line-height: 1.67;
  color: #fff;
}

.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* ====== Service ====== */
.service {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

/* == Service Row == */
.service__row {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

/* Service List */
.service__list {
  margin-bottom: 55px;
}

.service-item {
  display: flex;
  padding: 21px 18px 20px 22px;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
  transition: 0.25s;
}

.service-item__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #10375c;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(40, 155, 222, 0.15);
}

.service-item__body {
  margin-left: 19px;
}

.service-item__heading {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.27;
  color: #10375c;
}

.service-item__desc {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  color: #575f66;
}

/* ======= How it works ======= */
.works {
  padding: 100px 0;
  background: #f6fbff;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}

.work-item {
  padding: 43px 42px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
}

.work-item:hover {
  transform: translateY(-16px);
  transition: 0.25s;
  border-color: #2e80ce;
}

.works__desc {
  width: 468px;
}

.work-item__heading {
  margin-top: 18px;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  color: #10375c;
}

.work-item__desc {
  margin: 28px 0 18px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  color: #575f66;
}

.work-item__btn {
  font-size: 16px;
  line-height: 1.75;
  color: #2e80ce;
}

/* ======= Feature ======= */
.feature {
  margin-top: 85px;
  padding: 85px 0;
}

.feature__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.feature__media {
  width: 48%;
}

.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}

.feature__img {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.feature__img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 332px;
  height: 370px;
}

.feature__cta {
  margin-top: 38px;
}

/* ======== Member ======== */
.members {
  padding: 85px 0;
  text-align: center;
}

.member__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__cta {
  margin-top: 38px;
}

.member__list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - 90px) / 4);
  margin-top: 70px;
  column-gap: 30px;
  overflow: hidden;
}

.member-item {
  background-color: #fff;
  width: 100%;
  flex-shrink: 0;
}

.member-item__img-bg {
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}

.member-item__img-bg .member-item__img:hover {
  transform: scale(1.1);
}

.member-item__img {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.25s;
}

.member-item__name {
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
  color: #10375c;
}

.member-item__title {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
  color: #575f66;
}

.member__control {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  gap: 18px;
}

.member__control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
  background-color: transparent;
  outline: none;
  color: #575f66;
  transition: 0.25s;
}

.member__control-btn:hover {
  border-color: #2e80ce;
  background: #2e80ce;
  color: #fff;
  cursor: pointer;
}

/* ====== Install ====== */
.install {
  margin-top: 180px;
}

.install__inner {
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2e80ce;
}

.install__img {
  display: block;
  width: 284px;
  height: 522px;
  margin-top: -95px;
  object-fit: cover;
}

.install__content {
  max-width: 586px;
}

.install__heading,
.install__desc {
  color: #fff;
}

.install__haeding {
  min-width: 489px;
}

.install-row {
  display: flex;
  column-gap: 28px;
  margin-top: 38px;
}
